@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .main-mobile-section {
        min-height: calc(100vh - 484px);
    }

    .main-small-section {
        min-height: calc(100vh - 300px);
    }

    .main-xl-section {
        min-height: calc(100vh - 325px);
    }

    .main-width{
        width: calc(100% - 256px);
    }
    .main-mobile-width{
        width: calc(100% - 64px);
    }

    .aside-xl-section{
        height: calc(100vh - 64px);
    }
    .aside-mobile-section{
        height: calc(100vh - 80px);
    }
}

@layer components {
    .btn-orange {
        @apply mt-5 rounded-md bg-main-orange text-white w-fit p-3 shadow-md mx-auto transition-all duration-500 hover:bg-main-orange-dark cursor-pointer
    }

    .btn-grey {
        @apply mt-5 rounded-md bg-main-grey-light text-black w-fit p-3 shadow-md hover:bg-main-grey transition-all duration-500 cursor-pointer
    }
}

#recommended_player_slider_container::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#incomming_event_slider_container::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#dd::-webkit-scrollbar{
    width: 0;
    height: 0;
}
