@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .main-mobile-section {
        min-height: calc(100vh - 484px);
    }

    .main-small-section {
        min-height: calc(100vh - 300px);
    }

    .main-xl-section {
        min-height: calc(100vh - 325px);
    }
    .content-min-height{
        min-height: calc(100vh - 280px);
    }

    .main-width{
        width: calc(100% - 256px);
    }
    .main-mobile-width{
        width: calc(100% - 64px);
    }

    .aside-xl-section{
        height: calc(100vh - 64px);
    }
    .aside-mobile-section{
        height: calc(100vh - 80px);
    }
}

@layer components {
    .btn-orange {
        @apply mt-5 rounded-md bg-main-orange text-white w-fit p-3 shadow-md mx-auto transition-all duration-500 hover:bg-main-orange-dark cursor-pointer
    }

    .btn-grey {
        @apply mt-5 rounded-md bg-main-grey-light text-black w-fit p-3 shadow-md hover:bg-main-grey transition-all duration-500 cursor-pointer
    }
}

#recommended_player_slider_container::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#incomming_event_slider_container::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#dd::-webkit-scrollbar{
    width: 0;
    height: 0;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-400px * 7));
    }
  }

  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 265px;
    position: absolute;
    width: 100px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(400px * 14);
  }

  .slider .slide-track:hover {
    animation-play-state: paused;
}