{% extends 'base.html.twig' %}

{% block title %}
Aide
{% endblock title %}

{% block main %}
	<h1 class="text-3xl font-bold underline bg-slate-300">
		Hello world!
	</h1>
	<div class="w-full bg-main-orange h-3/4">test</div>
{% endblock %}
