{% extends 'base.html.twig' %}

{% block title %}
Comment cela marche ?
{% endblock title %}

{% block nodashboard %}{% endblock nodashboard %}

{% block main_content %}
	<h1 class="text-3xl font-bold underline bg-slate-300">
		Comment cela marche ?
	</h1>
	<div class="w-full bg-main-orange h-3/4">test</div>
{% endblock main_content %}
