{% extends 'base.html.twig' %}

{% block title %}
Mes parties
{% endblock title %}

{% block bonus_javascript %}
	<script defer src="{{ asset('js/my_party.js') }}"></script> 
{% endblock bonus_javascript %}

{% block withdashboard %}{% endblock withdashboard %}

{% block main_content %}
	<h1 class="text-2xl sm:text-3xl text-main-orange font-bold ml-2 sm:ml-4">
		Mes parties
	</h1>
	<section class="text-sm md:text-base w-full flex flex-col gap-8 items-center justify-center px-2 sm:px-4 mb-20">

		<!--START INCOMMING GAME PART-->
		<div class="flex justify-between items-center w-full mt-8 border-b border-main-grey py-2">
			<h2 class="text-xl font-bold">Parties à venir</h2>
			<div class="hidden sm:flex gap-5">
				<div id="incomming_game_prev_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300"><</div>
				<div id="incomming_game_next_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300">></div>
			</div>
		</div>
		<div id="incomming_game_slider_container" class="relative w-full flex items-center snap-x snap-mandatory overflow-x-scroll scroll-smooth gap-8 px-6 sm:px-2 py-4">
			{% if incommingGame != [] %}
				{% for party in incommingGame %}
					{% include('/cards/incomming_game_card.html.twig') %}
				{% endfor %}
			{% endif %}
		</div> 
		<!--END INCOMMING GAME PART-->

		<!--START FINISHED GAME PART-->
		<div class="flex justify-between items-center w-full mt-8 border-b border-main-grey py-2">
			<h2 class="text-xl font-bold">Parties finies</h2>
			<div class="hidden sm:flex gap-5">
				<div id="finished_game_prev_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300"><</div>
				<div id="finished_game_next_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300">></div>
			</div>
		</div>
		<div id="finished_game_slider_container" class="relative w-full flex items-center snap-x snap-mandatory overflow-x-scroll scroll-smooth gap-8 px-6 sm:px-2 py-4">
			{% if finishedGame != [] %}
				{% for party in finishedGame %}
					{% include('/cards/finished_game_card.html.twig') %}
				{% endfor %}
			{% endif %}
		</div>
		<!--END FINISHED GAME PART-->

		<!--START CREATED GAME PART-->
		<div class="flex justify-between items-center w-full mt-8 border-b border-main-grey py-2">
			<h2 class="text-xl font-bold">Parties créées</h2>
			<div class="hidden sm:flex gap-5">
				<div id="created_game_prev_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300"><</div>
				<div id="created_game_next_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300">></div>
			</div>
		</div>
		<div id="created_game_slider_container" class="relative w-full flex items-center snap-x snap-mandatory overflow-x-scroll scroll-smooth gap-8 px-6 sm:px-2 py-4">
			{% if createdGame != [] %}
				{% for party in createdGame %}
					{% include('/cards/created_game_card.html.twig') %}
				{% endfor %}
			{% endif %}
		</div>
		<!--END CREATED GAME PART-->

		<!--END CANCELED GAME PART-->
		<div class="flex justify-between items-center w-full mt-8 border-b border-main-grey py-2">
			<h2 class="text-xl font-bold">Parties annulées</h2>
			<div class="hidden sm:flex gap-5">
				<div id="canceled_game_prev_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300"><</div>
				<div id="canceled_game_next_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300">></div>
			</div>
		</div>

		<div id="canceled_game_slider_container" class="relative w-full flex items-center snap-x snap-mandatory overflow-x-scroll scroll-smooth gap-8 px-6 sm:px-2 py-4">
			{% if canceledGame != [] %}
				{% for party in canceledGame %}
					{% include('/cards/canceled_game_card.html.twig') %}
				{% endfor %}
			{% endif %}
		</div>
		<!--END CANCELED GAME PART-->	
		
	</section>
{% endblock main_content %}
