{% extends 'base.html.twig' %}

{% block title %}
Mes parties
{% endblock title %}

{% block withdashboard %}{% endblock withdashboard %}

{% block main_content %}
	<h1 class="text-3xl font-bold underline bg-slate-300">
		Hello world!
	</h1>
	<div class="w-full bg-main-orange h-3/4">test</div>
{% endblock main_content %}
