{% extends 'base.html.twig' %}

{% block title %}
RGPD
{% endblock title %}

{% block nodashboard %}{% endblock nodashboard %}

{% block main_content %}
    <section class="w-full">
        <h1 class="text-red text-3xl text-center">
            RÈGLEMENT GÉNÉRAL SUR LA PROTECTION DES DONNÉES
        </h1>
        <img class="w-1/3 mx-auto" src="{{ asset('img/rgpd_image/rgpd.jpg') }}" alt="login_logo">
    </section>
    <section>
    <h2 class="font-bold">
        Le 26 juillet 2019
    </h2>
    <p class="italic">
        Le règlement général sur la protection des données (RGPD) impose une information concise, transparente, compréhensible et aisément accessible des personnes concernées. Cette obligation de transparence est définie aux articles 12, 13 et 14 du RGPD. La CNIL fait le point sur les mesures permettant de respecter cette obligation.
    </p>
    </br>
    <p class="font-bold">
        Identité et coordonnées de l’organisme
    </p>
    <p>
        MEET-A-MEEPLE</br>
        3 rue Armand Moisant 75015 PARIS
    </p>
    <p class="font-bold">
        Finalités
    </p>
    <p>
        Aux fins de fonctionnement et d’utilisation du site nous recueillions des données personnel et confidentiel conservée le temps d’utilisation du site et conformément aux dispositions légales de conservation des données en vigueurs.
    </p>
    <p class="font-bold">
        Base légale
    </p>
    <p>
        Article 5- Principes relatifs au traitement des données à caractère personnel<br>
        <BLOCKQUOTE>
            1.	Les données à caractère personnel doivent être :
        </BLOCKQUOTE>
    </p>
    <p>
        MEET-A-MEEPLE</br>
        3 rue Armand Moisant 75015 PARIS
    </p>
    </section>
{% endblock main_content %}