{% extends 'base.html.twig' %}


{% block nodashboard %}
{% endblock nodashboard %}



{% block main_content %}

<div class="w-full flex justify-center items-center my-10">
	<input type="range" name="" id="" class="relative after:absolute after:w-10 after:h-10 after:bg-main-orange atfer:content-['25km']">
</div>


<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repudiandae neque debitis suscipit, animi eligendi.</p>	
{% endblock main_content %}





